<%- model_class = Teleporter -%>

<table class="table table-striped table-sorting">
  <thead>
    <tr>
      <th scope="col">
        ID</button>
      </th>
      <th scope="col">
        Name</button>
      </th>
      <th scope="col">
        Departure Point</button>
      </th>
      <th scope="col">
        Destination Point</button>
      </th>
      <th scope="col">
        Date</button>
      </th>
      <th scope="col">
        Created on</button>
      </th>
      <th scope="col"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @teleporters.each do |teleporter| %>
      <tr>
        <% path = "/teleporters/#{teleporter.id}" %>
        <td><%= link_to teleporter.id, teleporter_path(teleporter) %></td>
        <td><%= teleporter.name %></td>
        <td>
            <% teleporter.bookings.each do |booking| %>
              <%= booking.passenger.first_name %> <%= booking.passenger.last_name %></br>
            <% end %>
        </td>
        <td><%= teleporter.departure.name %></td>
        <td><%= teleporter.destination.name %></td>
        <td><%=l teleporter.departure_date %></td>
        <td>
          <% if teleporter.busy? %>
            <a href="<%= teleporter_path(teleporter) %>" class='btn btn-mini btn-danger'>
              <i class="icon-remove-sign"> </i>Busy
            </a>
          <% else %>
            <a href="/teleporters/<%= teleporter.id %>/bookings/new" class='btn btn-mini'>
              <i class="icon-remove-sign"> </i>Available
            </a>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination-right" id="pagination">
  <%= render :partial => '/shared/pagination' %>
</div>