<!-- Form booking -->
<%= form_for @booking, :url => {controller: :bookings, 
                                action: :create} do |f| %>

  <div class="modal-body">
    <% if @booking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
        <ul>
        <% @booking.errors.booking.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= text_field_tag :first_name, nil, {required: true, placeholder: "First name"} %><br />
    </div>

    <div class="field">
      <%= text_field_tag :last_name, nil, {required: true, placeholder: "Last name"} %><br />
    </div>

    <div class="field">
      <%= email_field_tag :email, nil, {:autofocus => true, required: true, placeholder: "Email"} %>
    </div>

    <%= text_field_tag :teleporter_id, @teleporter.id,  {required: true} %>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"><i class="icon-plus"></i> Reserve</button>
  </div>

<% end %>